body {
    background: linear-gradient(135deg, black, green, white);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.conteudo {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.btn {
    background-color: #5cb85c;
    color: white;
    width: 100%;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4cae4c;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* Estilização da lista */
.list-group {
    padding-left: 0; /* Remove o padding padrão da lista */
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-bottom: 5px;
    padding: 10px;
    list-style: none; /* Remove o estilo de lista padrão */
}

.list-group-item::before {
    content: "●";
    color: green;  /* Cor verde para o marcador */
    font-size: 1.5rem; /* Tamanho maior para o marcador */
    margin-right: 15px; /* Espaçamento entre o marcador e o texto */
}

.list-group-item:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
}

.delete-btn {
    background-color: #ff3333; /* Vermelho vibrante */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: #ff1a1a; /* Vermelho mais vibrante no hover */
}

.form-group {
    text-align: left; /* Mantém os labels e inputs alinhados à esquerda */
}
