/* Centralizando o conteúdo na tela com flexbox */
body, html {
    height: 80%;
    margin-top: 1%;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #818181;
}

.container {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    height: 100%;
}

.conteudo {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilos para os títulos */
h1, h2 {
    color: #333;
}

/* Estilizando o formulário */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilizando o botão */
button {
    padding: 10px 20px;
    background-color: #5cb85c;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
